header{
	padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    padding: 0;
}
article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
